.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 45px;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.product-img img {
  width: 440px;
  height: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.product-info h2 {
  font-size: 35px;
  color: #5c2e7e;
}

.product-info h3 {
  font-size: 18px;
  padding: 0;
}

.product-info p {
  font-size: 18px;
  line-height: 1.4;
}

.purchase {
  width: 180px;
  height: 35px;

  background-color: #00abb3;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .product-detail {
    display: flex;
    flex-direction: column;
  }

  .product-img{
    padding: 0;
  }

  .product-img img {
    width: 270px;
  }

  .product-info{
    margin-top: 30px;
  }

  .product-info h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  .product-info p {
    font-size: 15px;
    padding: 0 14px;
  }
}


@media screen and (min-width:480px) and (max-width:760px){
  .product-detail {
    display: flex;
    flex-direction: column;
  }

  .product-img{
    padding: 0;
  }

  .product-img img {
    width: 380px;
  }

  .product-info{
    margin-top: 40px;
  }

  .product-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }

  .product-info p {
    font-size: 19px;
    padding: 0 17px;
  }



}