.counter {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.button {
  width: 32px;
  height: 30px;
  border-radius: 15px;
  background-color: #00abb3;
  color: white;
  border: none;
}

.number {
  padding: 5px 10px;
  font-size: 18px;
}

.add {
  width: 180px;
  height: 35px;
  margin-left: 40px;
  background-color: #00abb3;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}
