.counter {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.button {
  width: 32px;
  height: 30px;
  border-radius: 15px;
  background-color: #00abb3;
  color: white;
  border: none;
}

.number {
  padding: 5px 10px;
  font-size: 18px;
  margin: auto 0;
}

.add {
  width: 180px;
  height: 35px;
  margin-left: 40px;
  background-color: #00abb3;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
.counter{
  width: 250px;
}


.button{
  width: 28px;
  height: 27px;
  border-radius: 20px;
}


.add{
  width: 150px;
  margin-left: 20px;
}
}
